.rowHeader {
  padding: 2px;
  height: 61px;
}

.rowHeader-title {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-left: 60px;
  width: fit-content;
}

.rowTitle {
  font-size: 26.88px;
  line-height: 34px;
}


.swiper {
  width: 100%;
  height: 100%;
  padding: 0 60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  user-select: none;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 4px;
  transform: scale(0.97);
  transition: all 0.3s ease;
}

.swiper-slide img:hover {
  transform: scale(1);
}

.swiper-movies {
  height: 300px;
  width: 100%;
}

:is(.swiper-button-next, .swiper-button-prev) {
  color: white;
  transform: scale(0.65);
  transition: all 0.2s ease;
}

:is(.swiper-button-next, .swiper-button-prev):hover {
  transform: scale(0.80);
}

.swiper-button-next {
  margin-right: 10px;
}

.swiper-button-prev {
  margin-left: 10px;
}